<div id="twitter" class="container-fluid twit">
    <a href="https://twitter.com/alughaofficial" target="_blank"><img class="twtr_logo" src="images/twitter_round.svg"/></a>
    <div class="centered row">
        <ul id="twitter_update_list" class="">
            <aside id="twitter_timeline-2" class="widget widget_twitter_timeline"><a class="twitter-timeline" data-widget-id="449847282293166080" data-theme="light" data-link-color="#f96e5b" data-border-color="#e8e8e8" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="1" width="300" height="300" lang="DE"></a></aside>
        </ul>
    </div>
    <!--TODO set twitter font to Titillium-->
    <script>window.twttr = (function (d,s,id) {var t, js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });}(document, "script", "twitter-wjs"));
    // Wait for the asynchronous resources to load
    twttr.ready(function (twttr) {twttr.events.bind('rendered', function (event) {var twtrIFrame = $('#twitter-widget-0');twtrIFrame.addClass('col-xs-12').addClass('col-sm-10');twtrIFrame.contents().find('head').append(jQuery('<link/>',{rel:'stylesheet', href: window.location.protocol+'//'+window.location.host+'/css/features/features.css', type:'text/css'})).css('height' , '180px');var twtr=document.getElementById('twitter-widget-0');twtr.style.height="180px";});});</script>
</div>