<div id="cta" class="container-fluid">
    <div class="bg-right"></div>
    <div class="centered">
        <div
                class="btn-cta"
                ng-init="cta.img='images/Button_call_to_action.svg'"
                ng-mouseover="cta.img = 'images/Button_call_to_action_mouse_over.svg'"
                ng-mousedown="cta.img='images/Button_call_to_action_mouse_click.svg'"
                ng-mouseleave="cta.img='images/Button_call_to_action.svg'">
            <a href="https://alugha.com/1/login" target="_blank">
                <img id="cta-normal" ng-src="{{cta.img}}" alt="Play Button">
                <!--TODO: Animate this button. -->
            </a>
        </div>
        <div class="right-side">
            <h3><span>PUSH THE BUTTON AND </span><br>BECOME A GLOBAL PLAYER</h3>
        </div>
    </div>
</div>