<div
        id="showcase"
        class="container-fluid"
        ng-init="benefits=[
            {title: 'achieve more', subtitle: 'with your viewers', content:'Multilingual videos help you reach a vast audience. Every language brings you millions of potential viewers all over the globe.', img:'images/showcase/showcase-1.svg'},
            {title: 'so simple', subtitle: 'yet so brilliant', content:'Being so simple, adding multiple languages to your videos won‘t take you more than five minutes. Your audience will not even recognize that it‘s a single video.', img: 'images/showcase/showcase-2.svg'},
            {title: 'it works', subtitle: 'it just works', content:'Upload your video, add the languages you want and optionally embed the video into your website… That‘s it!', img:'images/showcase/showcase-3.svg'},
            {title: 'one video', subtitle: 'to rule them all', content:'Without alugha, a video in 10 languages results in 10 different videos. With alugha, a video in up to 7000 languages results in only one video.', img: 'images/showcase/showcase-4.svg'},
            {title: 'make the planet', subtitle: 'a bit greener', content: 'Save up to 90% of storage and traffic with alugha. Less servers, less cooling, less storage, less bandwidth, less traffic.', img:'images/showcase/showcase-5.svg'},
            {title: 'connect people', subtitle: 'around the world', content:'Expand your global audience. With every language you add, you can address millions of native speakers all around the world.', img:'images/showcase/showcase-6.svg'}
        ]">
    <div class="centered">
        <h2>ALUGHA'S BENEFITS</h2>
        <div class="col-xs-12">
            <div
                    ng-repeat="benefit in benefits"
                    class="col-xs-6 col-sm-4 col-lg-2 benefit_entry tooltip-item">
                <p class="tooltip">
                    {{benefit.content}}
                </p>
                <img
                        class="img-responsive"
                        ng-src="{{benefit.img}}"
                        alt="Bulb">
                <h3>{{benefit.title | uppercase}}</h3>
                <h4>{{benefit.subtitle | uppercase}}</h4>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1 showcase_link_row">
            <a href="/demo" class="col-xs-12 col-sm-5 btn btn-std">TRY IT OUT!</a>
            <div class="col-xs-12 col-sm-2"><h5>OR</h5></div>
            <a href="/tour" class="col-xs-12 col-sm-5 btn btn-std">START A TOUR!</a>
        </div>
    </div>
</div>