// Twitter style
.twit.header {
  display: none;
}

.var-narrow .e-entry-title, .var-narrow .e-entry-title > a {
  font-family: 'Titillium Web', sans-serif!important;
  color:white!important;
  font-size: 30px !important;
  line-height: 1.5em !important;
  text-align: center;
}

.e-entry-title, .e-entry-title > a, .e-entry-title > b {
  font-weight: 200 !important;
}

.inline-media {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 430px) {

  .e-entry-title, .e-entry-title > a
  {
    font-size: 25px!important;
    line-height: 1.3em!important;
  }
}

@media screen and (max-width: 250px) {

  .e-entry-title, .e-entry-title > a {
    font-size: 18px!important;
    float:none;
  }
}